<div class="members-page" ng-controller="MembersCtrl">
	<div class="leader">
		<img src="/img/linda.jpg">
	</div>
	<div class="members">
		<div class="mlinks" ui-sref="amanda"><img src="/img/amanda/amanda.jpg"></div>
		<div class="mlinks" ui-sref="anna"><img src="/img/anna/anna.jpg"></div>
		<div class="mlinks" ui-sref="becky"><img src="/img/becky/becky.jpg"></div>
		<div class="mlinks" ui-sref="gabriella"><img src="/img/gabriella/gabriella.jpg"></div>
		<div class="mlinks" ui-sref="queena"><img src="/img/queena/queena.jpg"></div>
		<div class="mlinks" ui-sref="roya"><img src="/img/roya/roya.jpg"></div>
		<div class="mlinks" ui-sref="seyeon"><img src="/img/seyeon/seyeon.jpg"></div>
		<div class="mlinks" ui-sref="waverly"><img src="/img/waverly/waverly.jpg"></div>
	</div>
</div>